00_input/genomic_data/*
00_input/Matt_sycon_SAMap/*
00_input/Scil_GCF.964019385.1/*
00_input/scRNAseqs_rawTables/*
00_input/scRNAseqs_rawTables/*
00_input/Sycon.ReAnno*
00_input/Sycon.ReAnno.h5ad
00_input/Sycon_Seuratv4.Rdata
00_input/Tadh_monoaminergicSequences.fasta
01*/*
02_busco/*
03_pairwise_diamond/*
04_preprocessed_scRNAseqs/*
05a_SAMap_realSyconClusters/*
05b_SAMap_recodedSyconClusters/*
05_SAMap/*
06_variousPathway_genes/*
07_notable_genes/*
bash scripts/02_tidy_genomic_data.sh
busco*
FindAllMarkers_placozoa.R
gene_pairs_SAMap/*
gene_pairs_SAMap.tar.gz
genomes_not_ncbi/*
Matt_sycon_SAMap/*
placo_*
*png
precompiled_softwares/SAMap
.Rhistory
slurm-339*
*tmp*
