# manage push of large files through LSF
*h5ad filter=lfs diff=lfs merge=lfs -text
*xz filter=lfs diff=lfs merge=lfs -text

# manage linguistic stats
*.ls linguist-language=Text

# remove from stats ESFS
sycon_cluster_analyses/scripts/23b_ESFS_blobOnly.ipynb linguist-generated
sycon_cluster_analyses/scripts/23a_ESFS.ipynb linguist-generated
